.myChart1{
    font-color:white;
    font-weight:400;
    display: block;
    width: 655px;
    height: 327px;
    font-size:14px;
    font-family:bold;
    animation: chartjs-render-animation 0.001s;
    animation-duration: 0.001s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: chartjs-render-animation;
}