.container-fluid {
  background-color: #172b4d;
  /* font-family: Arial;
  font-size: 20px; */
  padding: 400px;
}
.heading{
    text-align:center;
    color:#f9fafb;
    font-size:55px;
    margin-top:5px;

}
#text{
    color:white;
    font-size:20px;
    margin-left:50px;
}
#submit{
    align:center;
    width:25px;
}
#page{
    margin-top:-280px;
}
#height,#weight{
   background-color: #fff!important;
    border-radius: 44px!important;
    width: 70%!important;
    padding: 0 15px!important;
    line-height: 2.15;
}
#bmi-btn:disabled {
    border-radius: 44px!important;
    width: 15%!important;
    border: 1px solid #999;
    background-color: #cccccc;
    color: #666;
    cursor: default;
    padding: 15px 50px;
    font-size: 16px;
    border-radius: 44px;
    cursor: pointer;
    border: 1px solid #3f51b5;
    margin:50px 450px 30px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}


    

